html, body { padding:0; margin:0; overflow:hidden; }

.logo-bg, .logo-bg-alt { 
	background-image: url(../plus_files/head_bg_logo_home_c180.jpg); 
	background-repeat: no-repeat; 
}
.identity-image { 
	background-image: url(../plus_files/head_bg_home_c180.jpg); 
	background-repeat: repeat; 
}

button .ui-icon { float:left; margin-top:2px; }

#tools {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 10pt;
    font-weight:bold;
}

.model-help .ui-button { background:#bed; }

a, u { text-decoration:none; }

.sitename { padding-top:25px; font-size:10pt; }

.sitename h1, .sitename p { margin:0; padding:0; 
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
}